@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SaintKDG_Light';
  src: url('@assets/fonts/SaintKDG_Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SaintKDG_LMedium';
  src: url('@assets/fonts/SaintKDG_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('@assets/fonts/NotoSansKR-Regular.ttf') format('truetype');
}

:root {
  --dnd-gold:       #ffd400;
  --dnd-light-gray: #989898;

  --dnd-tan:        #ffce79; /* Found by */
  --dnd-feather:    #b8ac9f; /* Slot type, Utility type */
  --dnd-dust:       #626262;
  --dnd-teal:       #8bd1d5;
  --dnd-turquoise:  #91dadf;
  --dnd-aqua:       #90d9de; /* Loot state */
  --dnd-blue:       #00aaee; /* Secondary stats */
  --dnd-oak:        #b18063; /* Description */
  --dnd-chalk:      #ecd99a;
  --dnd-purple:     #d067ff;
  --dnd-green:      #80d600;
  --dnd-orange:     #ff9a00;
  --dnd-gray:       #888888;
  --dnd-white:      #eeeeee;
  
  --dnd-poor:      var(--dnd-gray);
  --dnd-common:    var(--dnd-white);
  --dnd-uncommon:  var(--dnd-green);
  --dnd-rare:      var(--dnd-blue);
  --dnd-epic:      var(--dnd-purple);
  --dnd-legendary: var(--dnd-orange);
  --dnd-unique:    var(--dnd-chalk);
}

* {
  @apply select-none;
}

html,
body {
  --scale: 1;

  @apply m-0 p-0 overflow-hidden bg-transparent relative text-white;
  font-family: 'NotoSansKR', 'SaintKDG_Light', sans-serif;
  
  font-size: clamp(
    calc(12px * var(--scale)), 
    calc(0.7vw * var(--scale)), 
    calc(18px * var(--scale))
  );

  width: 100vw;
  height: 100vh;
}

.dotted {
  @apply flex;
}

.dotted li:not(:last-child):after {
  @apply px-5 text-white content-['•'];
}

.debugging #marker {
  @apply bg-blue-500;
}

.debugging #marker:before {
  @apply block content-[''] bg-blue-500/10 border border-yellow-500 border-2 w-10 h-10 -translate-x-1/2 -translate-y-1/2;
}

#tooltip,
.popup {
  @apply inline-block relative text-center min-w-80;

  background-image: url('@assets/images/Background_TooltipTexture.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent;

  border-image-slice: 21 21 21 21;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('@assets/images/Background_TooltipBorder.png');

  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.85);
}

.tooltip-overlay {
  @apply absolute top-0 left-0 bottom-0 right-0;
  background-color: rgba(217, 210, 219, 0.025);
}

.tooltip-content {
  @apply p-1 text-center;
}

.tooltip-title {
  @apply py-3 text-[1.65rem];
}

.tooltip-title:after {
  @apply content-[''] block w-full h-1 mt-2 mb-1;

  background-image: url('@assets/images/Tooltip_SeparatorThick.png');
  background-size: contain;
  background-position: center;
}

.tooltip-body {
  @apply text-[1.25rem] pb-3 px-6;
}

.tooltip-attribute {
  @apply flex gap-1 justify-center;
  color: var(--dnd-blue);
}

.tooltip-separator {
  @apply block w-full h-1 my-2;

  background-image: url('@assets/images/Tooltip_SeparatorThin.png');
  background-size: contain;
  background-position: center;
}

.tooltip-stats {
  @apply text-lg;
}

.tooltip-stat {
}

.tooltip-stat span:first-child {
  @apply inline-block mr-2;
  color: var(--dnd-dust);
}

.tooltip-footer {
  @apply text-[0.5rem] text-right;
  color: var(--dnd-light-gray);
}

.line-item {
  @apply flex items-center;
}

.line-item:not(:last-child) {
  @apply mb-3;
}

.line-item-label {
  @apply text-left;
}

.gold {
  @apply text-lg relative flex items-center;
  color: var(--dnd-gold); 
}

.gold:before {
  @apply content-[''] inline-block w-6 h-5 mr-1;
  background-image: url('@assets/images/Icon_Gold.png');
  background-size: contain;
  background-repeat: no-repeat;
}
